<h1 class="text text-center">Tabela de descrição de Produto</h1>
<table class="table table-striped mt-4">
    <thead>
      <tr class="top">
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col">Quant.</th>
        <th scope="col">Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Produto of produto">
        <th scope="row">{{Produto.id}}</th>
        <td>{{Produto.name}}</td>
        <td>{{Produto.type}}</td>
        <td>{{Produto.quantidade}} un</td>
        <td>{{Produto.preco}} R$</td>
      </tr>
    </tbody>
  </table>